.hero-list{
}
.hero-title{
  font-size: 24px;

  font-weight: bold;
}
.hero-item{
  position: relative;
  margin: 20px 0;
}
.hero-image{
  background: pink;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-name{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
  padding: 10px 0;
}
